.sapper_board {
    display: flex;
    flex-direction: row;
    width: fit-content;
    color: rgba(45, 166, 252, 0.99);
}

.score-sapper {
    color: #009879;
    text-align: center;
    font-size: 30px;
    margin: 17px;
}