.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    position: fixed;
    padding-top: 5px;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 10vh;
    align-items: center;
    background: linear-gradient(90deg, rgb(8, 5, 59) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.header a {
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    border-color: #f5f5f5;
    color: #fff;
    background: linear-gradient(90deg, rgb(107, 102, 178) 0%, rgb(45, 45, 218) 35%, rgb(15, 93, 108) 100%);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.header button {
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
    padding: 13px 17px 10px;
    border: none;
    color: #fff;
    box-shadow: 0 0 40px 40px rgba(32, 138, 168, 0.99) inset, 0 0 0 0 #0549ea;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.header .active {
    color: #e1e1de;
    background: linear-gradient(90deg, rgb(107, 102, 178) 0%, rgb(45, 45, 218) 35%, rgb(15, 93, 108) 100%);
    transition: all 0.3s;
    box-shadow: 1px 2px 10px 2px #e1e1de;
}
