.puzzle-game {
  max-width: 700px;
  margin-top: 20px;
  color: black;
  }

.number-puzzle-header {
  margin-top: 40px;
  margin-bottom: 40px;
  text-shadow: blue 6px 1px 6px;
  color: aliceblue;
  margin-left: 43%;
}

.badge {
  background-color: transparent;
  color: #f6f5f5 !important;
  min-width: 60px;
  text-align: right;
  border: solid 1px #e8d9d9;
  /*box-shadow: inset #e71818 0 0 4px;*/
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.puzzle-game .btn {
  min-width: 40px;
  min-height: 40px;
  margin: 5px;
  width: 100%;
  height: 100%;
  background-color: blue;
  color: black;
  border: none;
  box-shadow: #111 2px 2px 3px;
  outline: none;
  font-weight: bolder;
  text-shadow: black 1px 1px 10px;
  transition: background-color 1s, color 0.5s;
  opacity: 1;
  cursor: pointer;
}

.btn-empty {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  cursor: inherit;
}

.puzzle-game .row {
  margin: 0;
  padding: 0;
}
.puzzle-game .row div,
.puzzle-game .row button {
  margin: 0;
  padding: 2px;
}

.not-playing .btn-grid {
  border: none !important;
  box-shadow: none !important;
  color: whitesmoke;
  background-color: #13e52e;
  opacity: 0.5;
  cursor: default;
}

.not-playing .btn-grid:active {
  background: darkred !important;
  background: black;
}

.display {
  color: whitesmoke;
  text-align: center;
}

.display-title {
  color: whitesmoke;
}
