.registration-container {
    padding: 2% 5% 6%;
    font-family: sans-serif;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(8, 5, 59) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: 1px solid #BFBFBF;
    margin: 13% 29% 6% 26%;
    box-shadow: 3px 4px 18px 3px #888888;

}

.registration-title {
    text-align: center;
    color: #fcf9f9;
    font-family: sans-serif;
}

input {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: sans-serif;

}

button[type=submit] {
    background: linear-gradient(90deg, rgb(107, 102, 178) 0%, rgb(45, 45, 218) 35%, rgb(15, 93, 108) 100%);
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    font-family: sans-serif;

}

button[type=button] {
    background: linear-gradient(90deg, rgb(29, 24, 129) 0%, rgb(45, 45, 218) 35%, rgb(15, 93, 108) 100%);
    color: #e1e1de;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    font-family: sans-serif;
}


.warning {
    color: red;
    font-family: sans-serif;
}
